// Site background
$site-bg: #ffffff;

// Border colors
$border-color: #dddddd;

// Typography
// ----------------------

// if you want to use a webfont from gooogle or something
$import: url(https://fonts.googleapis.com/css?family=Roboto:400,700);
$body-font: 'Roboto', sans-serif;
$heading-font: 'Roboto', sans-serif;

$font-color: #333;
$link-color: #faaa00;
$link-color-hover: #d39f31;